.button {
  color: #FFF;
  display: flex;
  justify-content: center;
  padding: 0 30px;
  align-items: center;
  line-height: 1;
  height: 40px;
  border-radius: 8px;
  font-weight: 800;
  font-size: 12px;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  &:disabled {
    opacity: .5;
    cursor: not-allowed !important;
    cursor: default;
  }
}
.rg-red {
  transition: background-color 200ms linear;
  background: $rg-red;
  border: solid 2px $rg-red;
  &:not(:disabled):hover,
  &:not(:disabled):focus {
    background: #FFFFFF;
    color: $rg-red;
  }
  &:disabled:hover {
    background: $rg-red;
  }
  &.outline {
    background: #FFFFFF;
    color: $rg-red;
    &:not(:disabled):hover,
    &:not(:disabled):focus {
      background: $rg-red;
      color: #FFFFFF;
    }
  }
}
.grey {
  transition: background-color 200ms linear;
  background: #3C4E63;
  border: solid 2px #3C4E63;
  &:not(:disabled):hover,
  &:not(:disabled):focus {
    background: #FFFFFF;
    color: #3C4E63;
  }
  &:disabled:hover {
    background: #3C4E63;
  }
  &.outline {
    background: #FFFFFF;
    border: solid 2px #3C4E63;
    color: #3C4E63;
    &:not(:disabled):hover,
    &:not(:disabled):focus {
      background: #3C4E63;
      color: #FFFFFF;
    }
  }
}