nav {
  position: sticky;
  top: 0;
  z-index: 2;
  background: $rg-red;
  .container {
    flex-direction: row;
    align-items: center;
    padding: 13px 0;
    img {
      height: 21px;
    }
    .spacer {
      flex: 1;
    }
    ul.navigation {
      display: flex;
      justify-content: flex-end;
      margin: 0;
      padding: 6px 0;
      list-style: none;
      li {
        display: flex;
        a,
        a:visited,
        a:hover {
          color: #FFFFFF;
          padding: 6px 15px;
        }
      }
    }
  }
}