@charset "utf-8";
@import url('https://rsms.me/inter/inter-ui.css');
@import "_normalize.scss";
@import "_variables.scss";
@import "_buttons.scss";

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Inter UI', sans-serif;
}
body > nav,
body > section,
body > footer,
.full-width {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 100%;
  max-width: $twelve-col;
  display: flex;
  flex-direction: column;
}

p {
  line-height: 1.5;
}

a {
  text-decoration: none;
}

@import "header.scss";
@import "index.scss";
