<footer>
  <p>
    2010-<%= Date.today.year %>, Rails Girls. <a href="/press">Contact us</a> or follow us on <a href="http://twitter.com/railsgirls" target="_blank">Twitter</a> and <a href="https://www.facebook.com/railsgirls" target="_blank">Facebook</a>.
  </p>
  <p>
    Get excited and make things!  
  </p>
</footer>