<nav>
  <div class="container">
    <a href="/"><img class="logo" alt="Rails Girls" src="/images/railsgirls-logo.png" /></a>
    <div class="spacer"></div>
    <ul class="navigation">
      <li><a href="#">Events</a></li>
      <li><a href="#">Guides</a></li>
      <li><a href="#">Press</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>
</nav>